[Main]
Experiments = mst_pbbs_s20

[Experiments]
rootdir = /home/users/spollard/easy-parallel-graph/autoperf/mst/output
tauroot = /usr/local/packages/tau/git/x86_64/
Tool = tau
Datastore = taudb
Analyses = metrics
openmp = yes
threads = 2

[Datastore]
;config = /home/users/spollard/.ParaProf/perfdmf.cfg.spollard-epg
config = spollard-epg

[Tool.tau]
mode = sampling
TAU_VERBOSE = 1

[Analyses.metrics]
metrics = TIME PAPI_TOT_INS PAPI_TOT_CYC

; [Experiments.graph500]
; Tool = tau
; builder = make
; execmd = /home/users/spollard/graph500/omp-csr/omp-csr
; exeopt = -s 22
; For the actual mst code, something like
; exeopt = ../DATA/rmat248_diff ../DATA/rmat248_C ../DATA/changed_rmat248_500S 16777217 $OMP_NUM_THREADS

[Experiments.mst_pbbs_s20]
builder = make -C /home/users/spollard/dynamic-graphs/pbbs-msf/minSpanningForest/parallelKruskal
execmd = /home/users/spollard/dynamic-graphs/pbbs-msf/minSpanningForest/parallelKruskal/MST
exeopt = -t 2 -r 1 /home/users/spollard/graphalytics/all-datasets/PBBSInput/rmat20.weg ; 1 round, don't save output

