[Main]
Experiments = mst_pbbs_s20 mst_galois_s20 mst_xps_s20

[Experiments]
rootdir = /home/users/spollard/easy-parallel-graph/autoperf/mst/output
tauroot = /usr/local/packages/tau/git/x86_64/
Tool = tau
Datastore = taudb
Analyses = metrics
openmp = yes
threads = 2

[Datastore]
;config = /home/users/spollard/.ParaProf/perfdmf.cfg.spollard-epg
config = spollard-epg

[Tool.tau]
mode = sampling
TAU_VERBOSE = 1

[Analyses.metrics]
metrics = TIME PAPI_TOT_INS PAPI_TOT_CYC

; [Experiments.mst_xps_s20]
; exeopt = ../DATA/rmat248_diff ../DATA/rmat248_C ../DATA/changed_rmat248_500S 16777217 $OMP_NUM_THREADS

[Experiments.mst_pbbs_s20]
builder = make -C ../lib/pbbs-msf/minSpanningForest/parallelKruskal
execmd = ../lib/pbbs-msf/minSpanningForest/parallelKruskal/MST
exeopt = -t 2 -r 1 /home/users/spollard/graphalytics/all-datasets/PBBSInput/rmat20.weg ; 1 round, don't save output

[Experiments.mst_galois_s20]
; Must use cmake with Galois first.
builder = make -C ../lib/Galois-2.2.1/build/release/apps/boruvka
execmd = ../lib/Galois-2.2.1/release/apps/boruvka/boruvka

[Experiments.mst_xps_s20]
builder = make -C ../lib/xpscode/WorkingCode all
execmd = ../lib/xpscode/WorkingCode/a.out
exeopt = "$DDIR/XPS/rmat18.diff" "$DDIR/XPS/rmat18.changes" "$DDIR/XPS/changedrmat18_500S" <FIXME:num_vertices> $OMP_NUM_THREADS

; Might want to have boruvka-merge too
